CompileFlags:
  CompilationDatabase: .

  Add:
    # Windows & MSVC compatibility
    - -fms-compatibility
    - -fms-extensions

    # Enables exceptions in both MSVC driver mode and Clang driver mode
    - /EHsc
    - -EHsc
    - -fexceptions
    - -fcxx-exceptions

    # Suppress warnings about compiler flags clangd doesn't need
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument