build/
out/
.cache/
.vs/
compile_commands.json
generated/
.vcpkg/

# Android
.gradle/
.idea/*
!.idea/externalDependencies.xml
local.properties
*.iml
.externalNativeBuild/
.cxx/
**/build/
**/app/build/
android-project/app/src/main/assets/*
android-project/app/src/main/jniLibs/*